# dependencies
node_modules

# next.js
.next
out

# production
build
dist

# diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tsconfig.tsbuildinfo

# environment
.env
.env*.local

# vercel
.vercel

# system
.DS_Store
Thumbs.db

.vercel
